/* frontend/src/App.css */


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-header {
  margin-right: 10px;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderCheckbox .MuiDataGrid-columnHeaderTitleContainer {
  display: none;
}

.nav-bar-buttons {
  display: flex;
}

.nav-bar-buttons-text {
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}

.home-image-cards {
  display: flex;
  margin: 3px;
  padding: 0.1em;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
  /* border: 3px outset #ca05a9d8;
  border-radius: 18px !important; */
}

.home-wordy-cards-style {
  display: flex;
  margin: -20px;
  padding: 0.1em;
  justify-content: space-between;
  box-shadow: none;
  /* border: 3px outset #ca05a9;
  border-radius: 18px !important; */
}

.home-image-style {
  height: 220px;
  padding: 0;
  justify-content: flex-end;
  width: 120%;
}

.home-card-content-style {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
  height: 174px;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
  text-align: center;
  color: #8d008d;
}

.card-to-create-custom-feature {
  padding: 0 0 0 0 !important;
  padding-top: -10px !important;
}


.here-is-a-third-content-style {
  margin-left: 80px !important;
}

.about-lisa-content,
.profile-link {
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
}

.MuiPaper-root {
  padding: 0 !important;
  margin: 0 !important;
}

.just-a-vibe {
  box-shadow: none !important;
}



@media screen and (max-width: 800px) {
  .here-is-a-third-content-style {
    padding: 0 0 15px 0 !important;
    margin: 0 0 0 0 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* Target screens less than 700px wide */
@media (max-width: 700px) {
  .grid-parent-parent-container {
    /* Force a single column layout */
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    direction: unset !important;
  }

  .grid-parent-container {
    /* Remove unnecessary column-specific styles */
    direction: unset !important;
    width: 100% !important;
    max-width: 100% !important;
    display: contents !important;
  }

  .this-is-second-col {
    /* Remove unnecessary column-specific styles */
    direction: unset !important;
    width: 100% !important;
    max-width: 100% !important;
    display: contents !important;
  }

  /* Adjust item order using the 'order' property */
  .grid-parent-parent-container .first-section-image {
    order: 1 !important;
  }

  .grid-parent-parent-container .first-section-content {
    order: 2 !important;
  }

  .grid-parent-parent-container .second-section-image {
    order: 3 !important;
  }

  .grid-parent-parent-container .second-section-content {
    order: 4 !important;
  }

  .grid-parent-parent-container .third-section-image {
    order: 5 !important;
  }

  .grid-parent-parent-container .third-section-content {
    order: 6 !important;
  }

  .grid-parent-parent-container .fourth-section-image {
    order: 7 !important;
  }

  .grid-parent-parent-container .fourth-section-content {
    order: 8 !important;
  }

  .home-card-content-style {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    height: 90px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 4px !important;
  }

  .home-wordy-cards-style {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-bottom: 2px outset #ca05a9;
    border-radius: 0 !important;
  }

  .home-image-cards {
    margin-top: 13px;
  }

  .card-content-for-resize {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .card-content-for-resize>h6 {
    font-size: 18px !important;
  }

  .card-to-create-custom-feature {
    flex-direction: column !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    /* width: 100% !important; */
  }

  /* .test-box-for-me {
    max-width: 90px;
  } */

  .custom-feature-text-field {
    /* width: 100% !important; */
    margin: auto !important;
    width: 266px !important;
  }
}

/* LET'S SEE IF THIS IS */