/* frontend/src/App.css */


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-header {
  margin-right: 10px;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderCheckbox .MuiDataGrid-columnHeaderTitleContainer {
  display: none;
}

.nav-bar-buttons {
  display: flex;
}

.nav-bar-buttons-text {
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}

.home-image-cards {
  display: flex;
  margin: 3px;
  padding: 0.1em;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
  /* border: 3px outset #ca05a9d8;
  border-radius: 18px !important; */
}

.home-wordy-cards-style {
  display: flex;
  margin: -20px;
  padding: 0.1em;
  justify-content: space-between;
  box-shadow: none;
  /* border: 3px outset #ca05a9;
  border-radius: 18px !important; */
}

.home-image-style {
  height: 220px;
  padding: 0;
  justify-content: flex-end;
  width: 120%;
}

.home-card-content-style {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
  height: 174px;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
  text-align: center;
  color: #8d008d;
}

.card-to-create-custom-feature {
  padding: 0 0 0 0 !important;
  padding-top: -10px !important;
}


.here-is-a-third-content-style {
  margin-left: 80px !important;
}

.about-lisa-content,
.profile-link {
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
}

.MuiPaper-root {
  padding: 0 !important;
  margin: 0 !important;
}

.just-a-vibe {
  box-shadow: none !important;
}

@media screen and (max-width: 800px) {
  .here-is-a-third-content-style {
    padding: 0 !important;
    margin: 0 0 0 0 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}