/* frontend/src/App.css */


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-header {
  margin-right: 10px;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderCheckbox .MuiDataGrid-columnHeaderTitleContainer {
  display: none;
}

.MuiBox-root.css-2royc9 {
  padding: 0px;
  margin: 5px;
}

.home-image-cards {
  display: flex;
  margin: 0 auto;
  padding: 0.1em;
  flex-direction: column;
  align-items: center;
}

.home-wordy-cards-style {
  display: flex;
  margin: 0 auto;
  padding: 0.1em;
  justify-content: space-between;
}

.home-image-style {
  height: 200px;
  padding: 0;
  object-fit: contain;
  justify-content: flex-end;
  /* background-color: lime; */

}

.home-card-content-style {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
  height: 200px;
  flex-direction: column;
  align-items: center;
}

/* .css-46bh2p-MuiCardContent-root {
  padding: 1000px;
  background-color: crimson;

} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}